@import "tailwindcss";

:root {
  --white: #fff;
  --black: #000;
  --green: #4bb543;
  --black-100: #111;
  --black-200: #232323;
  --black-300: #333333;
  --black-400: #2e2e2e;
  --black-800: #3333333e;
  --white-100: #f3f3f3;
  --white-200: #f7f7fa;
  --white-300: #e6e6e6;
  --green-200: #26e9671a;
  --shadow-soft: 0 14px 24px 4px #0000000a;
}

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);
  --color-green: var(--green);
  --color-black-100: var(--black-100);
  --color-black-200: var(--black-200);
  --color-black-300: var(--black-300);
  --color-black-400: var(--black-400);
  --color-black-800: var(--black-800);
  --color-white-100: var(--white-100);
  --color-white-200: var(--white-200);
  --color-white-300: var(--white-300);
  --color-green-200: var(--green-200);
  --shadow-soft: var(--shadow-soft);
  --font-primary: var(--font-avenir);
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
